#wrap{
	background-color: blue;
}

#banner{
width: 100%;
height:60px;
background-color: silver;
}

#createUser{
	height: 295px;
	width: 315px;
	border:2px solid silver;
	border-style: outset;
	border-radius: 20px;
	position: absolute;
	top: 230px;
	bottom:10px;
	left:920px;
	right:10px;
}

#usernameCreateUser{
	position: relative;
	top: 35px;
	bottom: 70px;
	left: 47px;
	right: 70px;
}

#passwordCreateUser{
	position: relative;
	top: 35px;
	bottom: 70px;
	left: 47px;
	right: 70px;
}

#rpasswordCreateUser{
	position: relative;
	top: 35px;
	bottom: 70px;
	left: 47px;
	right: 70px;
}

#selectorForm1{
	width: 62%;
	position: relative;
	top: 45px;
	bottom: 0px;
	left: 70px;
	right: 0px;
}

#createUserHeader{
	height: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	top:15px ;
	left: 72px;
}

#idCreateUserSubmit{
	position: relative;
	top: 40px;
	left: 99px;
}

#topRowActions{
width: 200px;
height: 100%;
}

#userdiv{
	position: relative;
	top: 210px;
	left: 125px;
	width: 125px;
}

#userimage{
	position: relative;
	left: 16px;
}

#orgDiv{
	position: relative;
	top: 107px;
	left: 290px;
	width: 125px;
}

#orgimage{
	position: relative;
	left: 25px;
}

#departmentDiv{
	position: relative;
	top: 4px;
	left: 485px;
	width: 125px;
}

#departmentimage{
	position: relative;
	left: 25px;
}

#folderDiv{
	position: relative;
	top: -98px;
	left: 675px;
	width: 125px;
}

#folderimage{
	position: relative;
	left: 12px;
}

#workflowDiv{
	position: relative;
	top: -92px;
	left: 115px;
	width: 125px;
}

#workflowimage{
	position: relative;
	left: 25px;
}

#lockDiv{
	position: relative;
	top: -195px;
	left: 266px;
	width: 170px;
}

#lockimage{
	position: relative;
	left: 48px;
}

#reportDiv{
	position: relative;
	top: -299px;
	left: 507px;
	width: 170px;
}

#reportimage{
	position: relative;
	left: 4px;
}

#emailDiv{
	position: relative;
	top: -403px;
	left: 673px;
	width: 170px;
}

#emailimage{
	position: relative;
	left: 9px;
}



