/**{
	border:1px solid black;
}
*/
body{
	width: 100%vw;
	height: 663px;
	margin: 0 auto;
}

header {
	height: 80px;
	background-color: lightgray;
	position: relative;
}

footer {
	position: relative;
	height: 36px;
	top: 48px;
	background: lightgray;
}

footer span {
	position: relative;
	left: 480px;
	top: 11px;
	font-family: sans-serif;
	font-weight: bold;
}

.subHeader{
	height: 70px;
	position: relative;
	border: 1px solid darkred;
	border-top: none;
}

.subHeader span {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20pt;
	position: relative;
	top: 20px;
	left: 90px;
	color: darkred;
}

 .createUser div input {
 	border-radius: 4px;
 }

.createUser {
	width: 250px;
	height: 250px;
	position: absolute;
	top: 230px;
	left: 900px;
	border: 2.5px solid #2E86A3; 
	border-radius: 7px;
	z-index: 1;
}

.createUser h3 {
	position: absolute;
	top: 15px;
	left: 62px;
	margin: 0px;
	text-align: center;
	font-family: sans-serif;
}

#usernameCreateUser{
	position: absolute;
	top: 80px;
	left: 38px;
}

#passwordReenterUser {
	position: absolute;
	top: 140px;
	left: 38px;
}

#passwordCreateUser{
	position: absolute;
	top: 110px;
	left: 38px;
}

#selectorForm1{
	position: absolute;
	top: 170px;
	left: 22px;
}

#selectorForm1 {
	font-family: sans-serif;
	font-weight: bold;
}

.btn {
	position: absolute;
	left: 80px;
	top: 215px;
	font-family: sans-serif;
}

.smalltopbanner {
	height: 3px;
	background-color: #2E86A3;
}

.companyname {
width: 353.3px;
position: absolute;
top:18px;
left: 25px;
}

.companyname span {
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 30pt;
}

.actionButtons {
	width: 61%;
	height: 65%;
	position: relative;
	top: 12px;
	left: 50px;
}

.actionbtn {
	width: 120px;
	height: 120px;
	float: left;
	margin: 40px;
}

.actionbtn:hover{
 background: silver;
}

.spansForAction {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 11pt;
	float: left;
	position:relative;
	top: 15px;
	left: 10px;
}

.actionbtn img {
	float: left;
	position: relative;
	left: 26px;
	top: 10px;
}

